
      
    <div class="col-9">
      <div class="container">
        <div class="row">
          
          <ng-container *ngFor="let item of AllBooks | filter:searchKey" >
            <div class="card col-md-3">
              <img 
                src="https://bookcart.azurewebsites.net/Upload/{{item.coverFileName}}"
                alt=""
              />
            
              <h5
                style="
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 100ch;
                "
              >
                {{ item.title }}
              </h5>
              <p>
                <strong>₹{{ item.price }}</strong>
              </p>
              <button class="btn btn-primary">Add to Cart</button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
 
