<mat-card>
    <mat-selection-list [multiple]="false">
        <mat-list-option (click)="filter('')"><a>All Categories</a></mat-list-option>
        <mat-divider></mat-divider>
        <mat-list-option  (click)="filter('Biography')"><a>Biography</a></mat-list-option>
        <mat-divider></mat-divider>
        <mat-list-option (click)="filter('Fantasy')" >Fantasy</mat-list-option>
        <mat-divider></mat-divider>
        <mat-list-option (click)="filter('Fiction')" >Fiction</mat-list-option>
        <mat-divider></mat-divider>
        <mat-list-option (click)="filter('Mystery')" >Mystery</mat-list-option>
        <mat-divider></mat-divider>
        <mat-list-option (click)="filter('Romance')" >Romance</mat-list-option>
      </mat-selection-list>   
</mat-card>
