mat-slider {
    width: 250px;
  }

  mat-card {
    background-color: white;
    margin-top: 15px;
    
  }
  .margin {
      margin-bottom: 15px;
      background-color: palevioletred
  }

  span {
      font-size: 20px;
  }
