<app-header></app-header>
<div class="container">
  <div class="row no-gutters pt-3">
    <div class="col-md-3 col-sm-12">
      <div class="filter-container">
        <app-book-filter></app-book-filter>
        </div>
        <div>
          <app-price-filter></app-price-filter>
        </div>
    </div>
    <div class="col mb-3">
      <div class="d-flex justify-content-start card-deck-container mb-4">
        <div>
          <app-books></app-books>
        </div>
      </div>
    </div>
  </div>
</div>
